:root {
  background-color: #27374D;
}

.select-exercise-button {
  margin-top: 50px;
  height: 200px;
  width: 80vw;
  background-color:#526D82;
  color: #DDE6ED;
}

.exercise-begin-button {
  margin-top: 50px;
  height: 200px;
  width: 98%;
  background-color: #526D82;
  color: #FFFFFF;
  width: 80vw;
}

.exercise-display {
  font-size: 200px;
  color: #DDE6ED;
}

.center-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%
}

