:root {
  background-color: #282c34;
}

.select-exercise-button {
  margin-top: 50px;
  height: 200px;
  width: 80vw;
  background-color: blue;
  color: #FFFFFF;
}

.exercise-begin-button {
  margin-top: 50px;
  height: 200px;
  width: 98%;
  background-color: blue;
  color: #FFFFFF;
  width: 80vw;
}

.exercise-display {
  font-size: 200px;
  color: #FFFFFF;
}

.center-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%
}

